
body{
  
}
.mariRosa{
  color: #FC7699;
}
.mariAzul{
  color: #1AC4C7;
}

.ofc-gela{
  border-radius: 500px;
}

.mariAzulBack{
  background: #1AC4C7;
}
.mariRosaBack{
  background-color: #FC7699;
}

.form-control {
  width: 156220000%;
}

.preco{
margin: 20%;
}

.img{
height: 60%; 
width: 80%;
padding: 5%;
}

.nh1{
padding: 5px;
margin: 0;  
font-size:12pt;
overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.p{
padding: 0%;
margin: 5px;
font-size: 15px;
}

.coracaoFavorito {
 width: 60px; 
}

.h3s{
  margin: 20%
}

.fundoCarrinho{
  background: linear-gradient( #1AC4C7,#FC7699)fixed;
}

.botaozinho{
  margin: 30px;
}

.login{
  margin: 30px;
}


.altasNavs{
  float:right;
}
